# SwiftFormat Configuration

# File options
--exclude .build,.swiftpm,Tests/LinuxMain.swift,Package.swift

# Format options
--indent 4
--indentcase false
--trimwhitespace always
--insertlines true
--removelines true
--allman false
--wraparguments preserve
--wrapparameters preserve
--wrapcollections preserve
--closingparen same-line
--wrapternary default
--tabwidth 4
--xcodeindentation enabled
--smarttabs enabled
--maxwidth 120
--assetliterals visual-width
--typeblanklines remove
--markextensions always
--categorymark "MARK: %c"
--typemark "MARK: - %t"
--marklines true
--linebreaks lf
--elseposition same-line
--guardelse auto
--patternlet hoist
--redundanttype inferred
--redundantparens false
--redundantget true
--redundantinit avoid
--redundantlet true
--redundantletpattern true
--redundantnilcoalescing true
--redundantself remove
--redundantvoidreturntype remove
--semicolons inline
--sortedimports true
--duplicateimports remove
--unusedarguments closure-only
--trailingcommas false
--indentstrings false
--yodaswap always
--extensionacl on-declarations
--importgrouping testable-bottom
--organizeimports true

# Rules
--enable isEmpty
--enable sortedImports
--enable duplicateImports
--enable unusedArguments
--enable trailingCommas
--enable wrapMultilineStatementBraces
--enable braces
--enable consecutiveBlankLines
--enable consecutiveSpaces
--enable duplicateImports
--enable elseOnSameLine
--enable emptyBraces
--enable hoistPatternLet
--enable indent
--enable leadingDelimiters
--enable linebreakAtEndOfFile
--enable linebreaks
--enable numberFormatting
--enable preferKeyPath
--enable redundantBackticks
--enable redundantBreak
--enable redundantExtensionACL
--enable redundantFileprivate
--enable redundantGet
--enable redundantInit
--enable redundantLet
--enable redundantLetError
--enable redundantNilInit
--enable redundantObjc
--enable redundantParens
--enable redundantPattern
--enable redundantRawValues
--enable redundantReturn
--enable redundantSelf
--enable redundantType
--enable redundantVoidReturnType
--enable semicolons
--enable sortedImports
--enable spaceAroundBraces
--enable spaceAroundBrackets
--enable spaceAroundComments
--enable spaceAroundGenerics
--enable spaceAroundOperators
--enable spaceAroundParens
--enable spaceInsideBraces
--enable spaceInsideBrackets
--enable spaceInsideComments
--enable spaceInsideGenerics
--enable spaceInsideParens
--enable strongOutlets
--enable strongifiedSelf
--enable todos
--enable trailingClosures
--enable trailingCommas
--enable trailingSpace
--enable typeSugar
--enable unusedArguments
--enable void
--enable wrap
--enable wrapArguments
--enable wrapAttributes
--enable wrapMultilineStatementBraces
--enable yodaConditions