--indent 4
--allman false
--stripunusedargs closure-only
--header ignore
--self remove
--trimwhitespace always
--commas always
--wraparguments before-first
--wrapelements before-first
--ranges spaced
--hexgrouping none
--swiftversion 5.10
--patternlet hoist
--importgrouping alphabetized
--wrapconditions before-first
--wrapcollections before-first

